---
layout: archive
title: "Scholarly/Professional Works"
permalink: /publications/
author_profile: true
---



{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://www.comm.hkbu.edu.hk/comd-www/english/academic_programmes/m_pg_phd.htm}}">HKBU's official website</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

## On-going and Under-review Publications

1. **Ma, H.** (Under-review). *Young Liang Qichao's Cognition and Discussion of "History" and the Formation of "New Historiography"*. 青年梁啟超「史」之認知、論述與「新史學」的形成. *Bulletin of the Institute of Modern History Academia Sinica*.

2. **Ma, H.** (Under-review). *A Dignified Exit: The Establishment and Decline of Liang's Later Historiography Influence*. 體面的離場：梁氏後期史學影響力的建立及衰變. *Humanitas Taiwanica*.

3. **Ma, H.** (Under-review). *Liang Qichao's Historiography after the New Historiography*. 「新史學」後的梁啟超史學. *New History*.

4. **Ma, H.** (Under-review). *The Three Transformations of "Gushibian"*.「古史辨」三變. *Historiography Quarterly*.

5. **Ma, H.** (Under-review). *Liang Qichao's Disputes and Collaborations with the "Xueheng" and "Nangao" Scholars and His Late-Period Historiography*. 梁啟超同「學衡」、「南高」學人的離合與梁氏後期史學. *Journal of Historical Theory and Historiography*.

6. **Ma, H.** (Under-review). *The Herkunft of Genealogy: A Genealogical Study of Genealogy*. 譜系學的「緣起」：一個譜系學的譜系學考察. *Philosophical Researches*.

7. **Ma, H.** (Under-review). *The Methods and Basic Types of Domestication in the Handwriting of Unearthed Documents*. 出土文獻字跡「馴化」的方式與基本類型. *The Study of Chinese Characters*.

8. **Ma, H.** (Under-review). *Interpretation of "Heaven and Man"*: Early Confucianism on "Heaven and Man" and Dong Zhongshu's Choice. 詮釋「天人」：早期儒家的「天人」論述與董仲舒的抉擇. *Bulletin of The Department of Chinese Literature National Taiwan University*.

