---
layout: archive
title: "Scholarly / Professional Works"
permalink: /publications/
author_profile: true
---



{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://www.comm.hkbu.edu.hk/comd-www/english/academic_programmes/m_pg_phd.htm">HKBU's official website</a>.</div>
{% endif %}


{% include base_path %}

<!-- New style rendering if publication categories are defined -->

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}





<h2>On-going and Under-review Publications</h2>
<ul>
  <li>
    <strong>Ma, H.</strong> (Under-review). <em>Young Liang Qichao's Cognition and Discussion of "History" and the Formation of "New Historiography"</em>. 青年梁啟超「史」之認知、論述與「新史學」的形成. <em>Bulletin of the Institute of Modern History Academia Sinica</em>.
  </li>
  <li>
    <strong>Ma, H.</strong> (Under-review). <em>A Dignified Exit: The Establishment and Decline of Liang's Later Historiography Influence</em>. 體面的離場：梁氏後期史學影響力的建立及衰變. <em>Humanitas Taiwanica</em>.
  </li>
  <li>
    <strong>Ma, H.</strong> (Under-review). <em>Liang Qichao's Historiography after the New Historiography</em>. 「新史學」後的梁啟超史學. <em>New History</em>.
  </li>
  <li>
    <strong>Ma, H.</strong> (Under-review). <em>The Three Transformations of "Gushibian"</em>. 「古史辨」三變. <em>Historiography Quarterly</em>.
  </li>
  <li>
    <strong>Ma, H.</strong> (Under-review). <em>Liang Qichao's Disputes and Collaborations with the "Xueheng" and "Nangao" Scholars and His Late-Period Historiography</em>. 梁啟超同「學衡」、「南高」學人的離合與梁氏後期史學. <em>Journal of Historical Theory and Historiography</em>.
  </li>
  <li>
    <strong>Ma, H.</strong> (Under-review). <em>The Herkunft of Genealogy: A Genealogical Study of Genealogy</em>. 譜系學的「緣起」：一個譜系學的譜系學考察. <em>Philosophical Researches</em>.
  </li>
  <li>
    <strong>Ma, H.</strong> (Under-review). <em>The Methods and Basic Types of Domestication in the Handwriting of Unearthed Documents</em>. 出土文獻字跡「馴化」的方式與基本類型. <em>The Study of Chinese Characters</em>.
  </li>
  <li>
    <strong>Ma, H.</strong> (Under-review). <em>Interpretation of "Heaven and Man": Early Confucianism on "Heaven and Man" and Dong Zhongshu's Choice</em>. 詮釋「天人」：早期儒家的「天人」論述與董仲舒的抉擇. <em>Bulletin of The Department of Chinese Literature National Taiwan University</em>.
  </li>
</ul>
