---
layout: archive
title: "V.	Scholarly/Professional Works"
permalink: /publications/
author_profile: true
---

## V. Scholarly/Creative/Professional Work

### Books
1. **Zou, Y. L.** (Ed.). (2024). *Overview of Historical Geography of China* (4th ed.). 中國歷史地理概述. Shanghai Educational Publishing House.  
   *Haonan is a key reviser and editor of this edition.*
   
2. **Ma, H.** (Forthcoming). *Pattern and Form: A Study of Inner Asian Cities Around 1000 AD*. Ming Ming Publishing House.

### Selected Publications
1. **Ma, H.** (2024). *A Comparative Study on Three Annotations of Fupu*. 〈賦譜〉三家校注平議. *Newsletter for International China Studies*, 28, 371-380.

2. **Ma, H.** (Accepted). *The Narrative of "Modernity" in the Intellectual History of China and Its Crisis*. 改革開放以來中國思想史中的「現代」敘事及其危機. *Twenty-First Century*.

3. **Ma, H.** (Accepted). *Interpretation of "New Historiography"*: A Historiographical Investigation of a Problem in the Late Qing Dynasty and the Republic of China. 詮釋「新史學」：一個晚清民國問題的史學史考察. *Asian Studies*.

4. **Ma, H.** (2023). *A Study on the Urban Pattern of Liaoshangjing*. 遼上京「東向」格局考：城市格局變化的權力因素考察. In **Zhang, L.** (Eds.), *Yueying Wanchuan* (pp. 172-192). Phoenix Publishing & Media Group.

5. **Ma, H.** (2023). *Pattern, Urban Form and Space: A Study on Zhongxingfu*. 格局、形態與空間：西夏都城中興府考. *Xixia Research*, 23(4), 80-89.

### Conference and Presentations
1. **Ma, H.** (2024). “*How to Become a PhD in Arts and Humanities?*” Beijing Normal University-Hong Kong Baptist University United International College, Hong Kong.

2. **Ma, H.** (2023). “*A Brief Discussion on Research Methods in Computational Linguistics and Digital Humanities*.” Hong Kong Chu Hai College, Hong Kong.

3. **Ma, H.** (2023). “*The Other Side of ‘Transition from Classics to Historiography’*: Kang and Liang's Discussion on ‘History’ and Its Tension in the Period of Wanmu Caotang.” 「經史易位」的側面：康、梁萬木草堂時期「史」之論述及其張力. [Paper presentation]. *The Third Graduate Academic Forum on Historical Theory and Historiography*, Beijing.

4. **Ma, H.** (2023). “*A Reexamination of Rongchengshi and Jiuzhou*.” 〈容成氏〉與「九州」再考. [Paper presentation]. *Hong Kong Youth Scholars Forum on Literature and History Studies*, Hong Kong.

5. **Ma, H.** (2023). “*The Study on Handwriting of the Chu Bamboo Slips in Warring States Period Collected by Anhui University*.” 出土文獻字跡「馴化」的方式與基本類型：以安大簡《詩》字跡為中心的考察. [Paper presentation]. *Hong Kong Youth Scholars Forum on Literature and History Studies*, Hong Kong.

6. **Ma, H.** (2020). “*Pattern, Urban Form and Space: A Study on Zhongxingfu*.” 格局、形態與空間：西夏都城中興府考. [Paper presentation]. *The 6th China World Urban History Forum*, Hangzhou.

7. **Ma, H.** (2018). “*A Study on Zhongxingfu*.” 西夏都城中興府考. [Paper presentation]. *Academic Symposium on the 980th Anniversary of Xingqingfu*, Yinchuan.

8. **Ma, H.** (2018). “*Study on the Urban Pattern of Liao Dynasty*.” 遼上京東向格局考. [Paper presentation]. *The 3rd Chifeng Archaeological Conference*, Chifeng.

9. **Ma, H.** (2018). “*Study on the Urban Pattern of Liao Dynasty*.” 遼上京東向格局考. [Paper presentation]. *The 8th Academic Conference on History of Capital Normal University*, Beijing.

### Research Projects
1. **The Key Project of Philosophy and Social Science Research in Colleges and Universities in Jiangsu Province** (21LSA001). Funded by Education Department of Jiangsu, 2021-present. *(Member)*

2. **The Major Project of National Social Science Fund of China** (20&ZD223). Funded by National Office for Philosophy and Social Sciences, 2020-present. *(Member)*

3. **Double First-Class Discipline Joint Cultivation Program**. Funded by Nanjing Normal University, 2020-2021. *(Member)*

4. **“Yingcai Jihua” 英才計畫 Project of Nanjing Normal University**. Funded by Nanjing Normal University, 2017-2020. *(Principal Investigator)*

5. **Undergraduate Research Project of Nanjing Normal University**. Funded by Nanjing Normal University, October 2017-2018. *(Principal Investigator)*

### On-going and Under-review Publications
1. **Ma, H.** (Under-review). *Young Liang Qichao's Cognition and Discussion of "History" and the Formation of "New Historiography"*. 青年梁啟超「史」之認知、論述與「新史學」的形成. *Bulletin of the Institute of Modern History Academia Sinica*.

2. **Ma, H.** (Under-review). *A Dignified Exit: The Establishment and Decline of Liang's Later Historiography Influence*. 體面的離場：梁氏後期史學影響力的建立及衰變. *Humanitas Taiwanica*.

3. **Ma, H.** (Under-review). *Liang Qichao's Historiography after the New Historiography*. 「新史學」後的梁啟超史學. *New History*.

4. **Ma, H.** (Under-review). *The Three Transformations of "Gushibian"*.「古史辨」三變. *Historiography Quarterly*.

5. **Ma, H.** (Under-review). *Liang Qichao's Disputes and Collaborations with the "Xueheng" and "Nangao" Scholars and His Late-Period Historiography*. 梁啟超同「學衡」、「南高」學人的離合與梁氏後期史學. *Journal of Historical Theory and Historiography*.

6. **Ma, H.** (Under-review). *The Herkunft of Genealogy: A Genealogical Study of Genealogy*. 譜系學的「緣起」：一個譜系學的譜系學考察. *Philosophical Researches*.

7. **Ma, H.** (Under-review). *The Methods and Basic Types of Domestication in the Handwriting of Unearthed Documents*: An Investigation Centered on the Handwriting in the Anhui University Bamboo Slips of the Book of Songs. 出土文獻字跡「馴化」的方式與基本類型：以安大簡《詩》字跡為中心的考察. *The Study of Chinese Characters*.

8. **Ma, H.** (Under-review). *Interpretation of "Heaven and Man"*: Early Confucianism on "Heaven and Man" and Dong Zhongshu's Choice. 詮釋「天人」：早期儒家的「天人」論述與董仲舒的抉擇. *Bulletin of The Department of Chinese Literature National Taiwan University*.











{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



